:root {
	--dark: #374151;
	--darker: #1F2937;
	--darkest: #111827;
	--grey: #6B7280;
	--pink: #EC4899;
	--purple: #8B5CF6;
	--light: #EEE;
}

body, head{
    
    flex: 1 1 0%;
	background-color: #1F2937;

	border-radius: 1rem;

	color: var(--light);
	font-size: 1rem;
}


button.btnsupp{
    appearance: none;
	border: none;
	outline: none;
	background: none;
	font-weight:700;
	color: crimson;
}

p.footer{
    padding-top: 12px;
    margin-bottom: 0rem;
}

footer{
    margin-bottom: 0rem;
    position: absolute;
    bottom:0rem;
}

body p{
    vertical-align: middle;
}

img[alt~="www.000webhost.com"] {
    display:none;
}



tbody, td {
    font-weight: 700;
}

table {
  border-collapse: collapse;
  border-radius: 1em;
  overflow: hidden;
  border-color: black;
}

tbody, td, tfoot, th, thead, tr{
    border-color: rgba(255,255,255,0.25);
}

@media (max-width: 600px){
h1{
    padding-top:105px!important;
}

div.col-10.offset-1{
   width:100%;
   margin-left:0%;
}

p.footer{
    font-size:12px!important;
    margin-top:10px;
}
}


/*--------------------------------------*/


* {
	margin: 0;
	box-sizing: border-box;
	font-family: "Fira sans", sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	color: #FFF;
	background-color: var(--dark);
}


td.taskNameRed {
    color:white!important;
}

#taskName {
    flex: 1 1 0%;
    background-color: var(--darker);
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    color: var(--light);
    font-size: 1.25rem;
}

header {
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

h1{ 
	font-size: 2rem;
	font-weight: 300;
	color: #6B7280;
	margin-bottom: 1rem;
}

#inputTaskName {
	display: flex;;
}

input, button {
	appearance: none;
	border: none;
	outline: none;
	background: none;
}

#inputTaskName {
	flex: 1 1 0%;
	background-color: var(--darker);
	border-radius: 1rem;
	color: var(--light);
	font-size: 1.25rem;
}

#inputTaskName::placeholder {
	color: var(--grey);
}


#inputTaskName{
    flex : 1 1 0%;
}


#new-task-submit {
	color: var(--pink);
	font-size: 1.25rem;
	font-weight: 700;
	background-image: linear-gradient(to right, var(--pink), var(--purple));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	cursor: pointer;
	transition: 0.4s;
}

#new-task-submit:hover {
	opacity: 0.8;
}

#new-task-submit:active {
	opacity: 0.6;
}

main {
	flex: 1 1 0%;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

.task-list {
	padding: 1rem;
}

.task-list h2, th {
	font-size: 1.15rem;
	font-weight: 300;
	color: var(--grey);
	margin-bottom: 1rem;
}



.task .content {
	flex: 1 1 0%;
}

.task .content .text {
	color: var(--light);
	font-size: 1rem;
	width: 100%;
	display: block;
	transition: 0.4s;
}

.task .content .text:not(:read-only) {
	color: var(--pink);
}

.task .actions {
	display: flex;
	margin: 0 -0.5rem;
}

.task .actions button {
	cursor: pointer;
	margin: 0 0.5rem;
	font-size: 1.125rem;
	font-weight: 700;
	text-transform: uppercase;
	transition: 0.4s;
}

.task .actions button:hover {
	opacity: 0.8;
}

.task .actions button:active {
	opacity: 0.6;
}

.task .actions .edit {
	background-image: linear-gradient(to right, var(--pink), var(--purple));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.task .actions .delete {
	color: crimson;
}
